$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



// PDL Styles

ul { 
    padding: 0;
    list-style-type: none;
}

h1 {
    margin: 0;
}

.mainTitle {
    text-align: center;
}

img {
    vertical-align: top;
}

aside {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.chatLog {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.nonAvatar {
    display: inline-block;
}

h5 {
    display: inline-block;
    margin-top: 0;
}

.searchArea {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.active {
    font-weight: bold;
}

